.banner {
  margin-bottom: 5rem;

  img {
    width: 100%;
  }
}

.header {
  margin-bottom: 4rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--title);
    margin-bottom: 1.5rem;
  }

  strong {
    color: var(--info);
    font-weight: normal;
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin-top: 1rem;
  }

  div {
    display: flex;

    span {
      color: var(--info);
      font-weight: normal;
      font-size: 0.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.5rem;

      svg {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.content {
  color: var(--text);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray);

  h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--title);
    margin-bottom: 2.25rem;
    line-height: 2.5rem;
  }

  div {
    line-height: 1.6rem;
    font-size: 1.125;
    font-weight: regular;
    color: var(--text);
    margin-bottom: 2.25rem;

    a {
      color: var(--pink);
      font-weight: normal;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 30px 0;

  div {
    max-width: 300px;
    text-align: center;

    a {
      text-align: left;
    }
  }

  div + div {
    text-align: center;
    a {
      text-align: right;
    }
  }

  h1 {
    font-size: 1.125rem;
    font-family: normal;
    color: var(--title);
  }

  a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--pink);
    display: block;
    margin-top: 0.5rem;
    transition: color 0.2s;

    &:hover {
      color: var(--title);
    }
  }
}
